.Profile_Set_Box{
    width: 256px;
    height: 300px;
    background-color: #202024;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.Profile_Set_Box > img {
    position: absolute;
    border-radius: 8px 8px 0 0;
}
.Profile_Set_imgName{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    margin-top: 10%;
    background-color: #202024;
}
.ComponentImg{
    position: relative;
}
.Profile_Set_name{
    margin-top: 5%;
    line-height: 150%;
}
h2{
    font-size: 16px;
    color: #E1E1E6;
}
h3{
    font-size: 14px;
    color: #8D8D99;
}
.Profile_Set_Box button{
    background-color: transparent;
    border-radius: 8px;
    width: 192px;
    height: 50px;
    border: 2px solid #00B37E;
    color: #00B37E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: auto;
    margin-bottom: 10%;
}
.Profile_Set_bar_line{
    width: 100%;
    height: 2px;
    background-color: #323238;
    margin: auto;
}