*{
    box-sizing: border-box;
    margin: 0;
}
.main{
    display: flex;
    background-color: #121214;
    padding-inline: 10%;
    justify-content: space-around;
    padding-block: 3%;
}
.asside{

}
.body{
    width: 66%;
}