.container{
    color: white;
    display: flex;
    gap: 1rem;
}
.commentArea{
    background-color: var(--gray-700);
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
}
.commentArea1{
    display: flex;
    align-items: flex-start;
    height: 1.2rem;
}
.commentArea1 > h1 {
    font-size: 0.875rem;
    color: calc(--gray-100);
}
.commentArea1 > h4 {
    font-size: 0.875rem;
    color: var(--gray-400);
    flex-grow: 1;
    margin-left: 0.25rem;
}
.commentArea1 > a {
    color: var(--gray-400);
    transition: 0.2s;
    cursor: pointer;
    display: flex; 
}
.commentArea1 > a:hover {
    color: var(--red-500);
}
.commentArea2 > p {
    font-size: 0.875rem;
    color: var(--gray-300);
    margin-bottom: 0.56rem;
}
.commentArea2 > h3 {
    font-size: 0.750rem;
    color: var(--gray-400);
}
.commentBox{
    flex-grow: 1;
}
.likeButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    color: var(--gray-400);
    width: fit-content;
    transition: 0.2s;
    user-select: none;
}
.likeButton > span {
    padding-left: 0.625rem;
}
.likeButton > span::after{
    content: "\2022";
    padding-inline: 0.25rem;
}
.likeButton:hover{
    cursor: pointer;
    color: var(--gray-100);
}
